body{
    direction: column;
    align-items: center;
    background-color: #252425;
}

main{
    padding: 100px;
    margin-top: 20px;
    background-color: #484848;
    border-radius: 12px;
    align-items: center;
    direction: column;
    gap: 20;
}

sendPrayerWrapper{
    background-color: #595959;
    padding: 20px;
    align-items: center;
    direction: row;
    border-radius: 12px;
}

prayerWrapper{
    padding: 50px;
    background-color: #484848;
    align-items: center;
    border-radius: 12px;
    direction: column;
    margin-top: 50px;
}

h1{
    padding: 50px;
    font-size: 75px;
    background-color: #484848;
}

p{
    font-size: 30px;
    color: #FFFFFF;
    padding: 20px;
    background-color: #484848;
    margin-left: 200px;
    margin-right: 200px;
}

input{
    background-color: #595959;
    padding: 10px;
}