body{
    direction: column;
    align-items: center;
    background-color: #252425;
}

main{
    padding: 100px;
    margin-top: 20px;
    background-color: #808080;
    border-radius: 12px;
    align-items: center;
    direction: column;
    gap: 20px;
}

sendPrayerWrapper{
    background-color: #002267;
    padding: 20px;
    align-items: center;
    direction: row;
    border-radius: 12px;
}

prayerWrapper{
    padding: 50px;
    background-color: #808080;
    align-items: center;
    border-radius: 12px;
    direction: column;
    margin-top: 50px;
}

h1{
    padding: 50px;
    font-size: 75px;
}

p{
    font-size: 30;
    color: #FFFFFF;
    padding: 20px;
}