body{
    direction: column;
    align-items: center;
    background-color: #0575e4;
}

main{
    padding: 100px;
    margin-top: 20px;
    border-radius: 12px;
    align-items: center;
    direction: column;
    border-width: 1px;
    border-style: solid;
    border-color: #383838;
    background-color: #6cc12f;
}

sendPrayerWrapper{
    padding: 20px;
    align-items: center;
    direction: row;
    border-radius: 12px;
    margin-top: 30px;
    border-width: 1px;
    border-style: dashed;
    border-color: #323232;
    background-color: #b337b3;

}

prayerWrapper{
    padding: 50px;
    align-items: center;
    border-radius: 12px;
    direction: column;
    margin-top: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #383838;
    background-color: #ed6816;

}

h1{
    padding: 50px;
    font-size: 75px;
    color: #FFFFFF;
    background-color: transparent;
    font-weight: heavy;
    background-color: #6cc12f;
}

PreyToMeP{
    color: #ededed;
    font-weight: light;
    font-size: 30px;
    background-color: #6cc12f;
    align-items: center;
}

prayerDisplay{
    font-size: 30px;
    color: #FFFFFF;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding-right: 100px;
    background-color: #ed6816;
}

input{
    padding: 10px;
    margin-top: 5px;
    width: 200px;
    margin-left: 50px;
    margin-right: 20px;
    background-color: #1f1f1f;
    color: #FFFFFF;
}

button{
    padding: 10px;
    margin-right: 50px;
    background-color: #393939;
    color: #FFFFFF;
}